* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background: #efefef;
    margin: 0;
}

header {
    background: linear-gradient(0.25turn, #e66465, #9198e5);
    padding: 20px;
    color: azure;
    text-align: center;
}

header h1 {
    font-size: 50px;
}

header button {
    display: inline;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    border: #9198e5;
}

header span {
    display: none;
    font-size: 22px;
    color: yellow;
}

section {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

section p {
    margin-bottom: 50px;
}

section button {
    margin-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border: 2px purple solid;
    border-radius: 5px;
    background-color: azure;
    color: purple;
}

section button:hover {
    background-color: purple;
    border-color: azure;
    color: azure;
}

#stats {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: white;
    border: 1px black solid; */
    border-radius: 10px;
    /* padding: 10px; */
    margin-top: 100px;
    /* width: 50%; */
    /*margin-left: 350px;
    margin-right: 350px; */
}

#stats span {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bolder;
}

#stats input {
    margin-bottom: 15px;
}

#stats button {
    margin-top: 10px;
    padding: 5px;
    border: 2px purple solid;
    border-radius: 5px;
    font-weight: bolder;
}

#stats button:hover {
    border-color: azure;
}

#answer-div {
    display: none;
    margin: 0;
    border-top: 1px black solid;
    color: rgb(92, 91, 91);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#highscores {
    display: none;
}

#highscores div {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* border: 1px black solid; */
    margin: 10px;
    padding: 20px;
    text-align: left;
}

#highscores div span {
    padding: 10px;
    background-color: lightgray;
}

footer {
    position: absolute;
    text-align: center;
    font-size: 12px;
    padding: 25px;
    background: white;
    width: 100%;
    bottom: 0;
}